.bg-dark {
  background-color: rgb(56, 56, 56);
}
.text-white {
  color: white;
}

.text-bold {
  font-weight: bold;
}

.text-capitalize {
  text-transform: capitalize;
}

.custom-image {
  padding: 10px;
  border-radius: 20px;
  width: calc(100% - 20px);
}
